.backgroundFilterImage {
    background-image: url(../../../assets/images/fondo_cotizacion.jpg)!important;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;

}